
.conjunto-de-itens-noinformation{
    padding-top: 3rem;
}
.linha-image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}
.linha-image img{
    width: 315px;
}
.inf-img{
    height: 211px;
}

/*atualizacao para a versao mobile*/
@media (max-width:450px){
    .ind{
        display: none;
        width: 100%;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
    }
    .linha-image img{
        width: 100%;
    }
}
